---
import indieLogo from "../assets/brand/indie-logo.png"
import pzLogo from "../assets/brand/pz-logo.png"
---

<nav class="container mx-auto max-w-6xl">
    <div class="links flex justify-between">
        <div class="block">
            <img
                src={pzLogo}
                alt="project zomboid logo"
                width="140"
                height="90"
            />
        </div>
        <ul class="list-none">
            <li class="inline-block">
                <a
                    class="nav-item text-white text-xl inline-block mx-1"
                    href="/">Home</a
                >
            </li>
            <li class="inline-block">
                <a
                    class="nav-item text-white text-xl inline-block mx-1"
                    href="/">The Game</a
                >
            </li>
            <li class="inline-block">
                <a
                    class="nav-item text-white text-xl inline-block mx-1"
                    href="/">News</a
                >
            </li>
            <li class="inline-block">
                <a
                    class="nav-item text-white text-xl inline-block mx-1"
                    href="/">Forum</a
                >
            </li>
            <li class="inline-block">
                <a
                    class="nav-item text-white text-xl inline-block mx-1"
                    href="/">Support</a
                >
            </li>
            <li class="inline-block">
                <a
                    class="nav-item text-white text-xl inline-block mx-1"
                    href="/">Game map</a
                >
            </li>
            <li class="inline-block">
                <a
                    class="nav-item text-white text-xl inline-block mx-1"
                    href="/">Jobs</a
                >
            </li>
        </ul>
        <div>
            <img src={indieLogo} alt="indie logo" width="80" height="100" />
        </div>
    </div>
    <div class="bg-red-400 inline-block"></div>
    <section class="pz-logo">
        <img src={pzLogo} alt="project zomboid logo" width="140" height="90" />
    </section>
    <section class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </section>
</nav>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
    .nav-item {
        font-family: "Bebas Neue", sans-serif, cursive;
        letter-spacing: 3px;
        text-transform: capitalize;
        padding: 0px 11px;
    }
    .nav-item:hover {
        background-image: url("../assets/media/blood.png");
        background-position: center;
        background-size: 4rem;
        background-repeat: no-repeat;
    }

    .pz-logo {
        top: 0.75rem;
        left: 1rem;
        position: absolute;
        flex-direction: column;
        display: none;
    }

    .toggle-button {
        top: 2.3rem;
        right: 1rem;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    @media (max-width: 910px) {
        .toggle-button {
            display: flex;
        }
        .pz-logo {
            display: flex;
        }
        .links {
            display: none;
        }
    }
</style>
